@page
@model HuoltoWebApp.Pages.EtusivuModel
@{
    ViewData["Title"] = "Etusivu";
}


<div class="btncontainer">
    <h2>Tervetuloa, @User.Identity.Name!</h2>
    <!-- Normaali käyttäjän toiminnot -->
    <button class="btn btn-primary" onclick="location.href='/Huollot/IlmoitaHuolto'">Huollon ilmoittaminen</button>
    <button class="btn btn-primary" onclick="location.href='/Huollot/LähetäPyyntö'">Huoltopyynnön lähettäminen</button>
    <button class="btn btn-primary" onclick="location.href='/Huollot/Katsominen'">Tehtyjen huoltojen katsominen</button>

    <!-- Admin-käyttäjän toiminnot -->
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-secondary" onclick="location.href='/Hallinta/HuoltoPyyntöjenKatsominen'">Huoltopyyntöjen katsominen</button>
        <button class="btn btn-secondary" onclick="location.href='/Autot/Create'">Autojen lisääminen</button>
        <button class="btn btn-secondary" onclick="location.href='/Säiliöt/Create'">Säiliöiden lisääminen</button>
        <button class="btn btn-secondary" onclick="location.href='/PVt/Create'">Perävaunujen lisääminen</button>
    }
</div>
