<div class="btncontainer">
    <h2>Tervetuloa, @User.Identity.Name!</h2>

    <div class="row">
        <!-- Käyttäjän toiminnot -->
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="location.href='/Huollot/IlmoitaHuolto'">Huollon ilmoittaminen</button>
            <button class="btn btn-primary" onclick="location.href='/Huollot/LähetäPyyntö'">Huoltopyynnön lähettäminen</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="location.href='/Huollot/Katsominen'">Tehtyjen huoltojen katsominen</button>
        </div>
    </div>

    <!-- Adminin toiminnot -->
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-secondary" onclick="location.href='/Hallinta/HuoltoPyyntöjenKatsominen'">Huoltopyyntöjen katsominen</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary" onclick="location.href='/Autot/Create'">Autojen lisääminen</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary" onclick="location.href='/Säiliöt/Create'">Säiliöiden lisääminen</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary" onclick="location.href='/PVt/Create'">Perävaunujen lisääminen</button>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-secondary" onclick="location.href='/Hallinta/Huoltopaikat'">Ylläpidä huoltopaikat</button>
        </div>
    </div>
</div>
