@page
@model HuoltoWebApp.Pages.EtusivuModel
@{
    ViewData["Title"] = "Etusivu";
}

<div class="btncontainer">
    <h2>Tervetuloa, @User.Identity.Name!</h2>
    
    <div class="row">
        <!-- Ensimmäinen sarake -->
        <div class="col-md-3">
            <button class="btn btn-primary" onclick="location.href='/Huollot/IlmoitaHuolto'">Ilmoita huolto</button>
            <button class="btn btn-primary" onclick="location.href='/Huollot/LähetäPyyntö'">Lähetä huoltopyyntö</button>
        </div>

        <!-- Toinen sarake -->
        <div class="col-md-3">
            <button class="btn btn-primary" onclick="location.href='/Huollot/Katsominen'">Tehdyt huollot</button>
            <button class="btn btn-primary" onclick="location.href='/Huollot/KatsoHuoltopyynnöt'">Katso huoltopyynnöt</button>
        </div>

        <!-- Kolmas sarake -->
        <div class="col-md-3">
            <button class="btn btn-secondary" onclick="location.href='/Ylläpito/YlläpidäAuto'">Ylläpidä auto</button>
            <button class="btn btn-secondary" onclick="location.href='/Ylläpito/YlläpidäSäiliö'">Ylläpidä säiliö</button>
            <button class="btn btn-secondary" onclick="location.href='/Ylläpito/YlläpidäPV'">Ylläpidä perävaunu</button>
            <button class="btn btn-secondary" onclick="location.href='/AutonInfo'">Auto info</button>
        </div>

        <!-- Neljäs sarake -->
        <div class="col-md-3">
            <button class="btn btn-secondary" onclick="location.href='/Ylläpito/YlläpidäHuoltopaikat'">Ylläpidä huoltopaikat</button>
        </div>
    </div>
</div>


    
     

