@page
@model HuoltoWebApp.Pages.Huollot.IlmoitaHuoltoModel
@{
}

<h2>Ilmoita Huolto</h2>

<h3>Autot</h3>
<div>
    @foreach (var auto in Model.Autot)
    {
        <button class="btn btn-primary" onclick="location.href='/AutonHuollot/Create?autoId=@auto.AutoId'">
            @auto.RekNro
        </button>
    }
</div>

<h3>Perävaunut</h3>
<div>
    @foreach (var pv in Model.PVt)
    {
        <button class="btn btn-primary" onclick="location.href='/PvHuolto/Create?pvId=@pv.PvId'">
            @pv.RekNro
        </button>
    }
</div>
<button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>
