@page
@model HuoltoWebApp.Pages.PvHuolto.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PvHuollot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rekisterinumero</label>
                <span class="form-control">@ViewData["PvRekNro"]</span>
                <input type="hidden" asp-for="PvHuollot.PvId" />
            </div>
            <div class="form-group">
                <label asp-for="PvHuollot.HuoltoPvm" class="control-label"></label>
                <input asp-for="PvHuollot.HuoltoPvm" class="form-control" />
                <span asp-validation-for="PvHuollot.HuoltoPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PvHuollot.HuoltoPaikkaId" class="control-label">Huoltopaikka</label>
                <select asp-for="PvHuollot.HuoltoPaikkaId" class="form-control" asp-items="ViewBag.Huoltopaikat"></select>
                <span asp-validation-for="PvHuollot.HuoltoPaikkaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PvHuollot.HuollonKuvaus" class="control-label"></label>
                <input asp-for="PvHuollot.HuollonKuvaus" class="form-control" />
                <span asp-validation-for="PvHuollot.HuollonKuvaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PvHuollot.Kuva" class="control-label"></label>
                <input asp-for="PvHuollot.Kuva" class="form-control" />
                <span asp-validation-for="PvHuollot.Kuva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
