@page
@model HuoltoWebApp.Pages.Autot.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Luo uusi auto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" id="autoForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Auto.RekNro" class="control-label"></label>
                <input asp-for="Auto.RekNro" class="form-control" />
                <span asp-validation-for="Auto.RekNro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.SäiliöId" class="control-label">SäiliöNro</label>
                <select asp-for="Auto.SäiliöId" class="form-control" asp-items="ViewBag.SäiliöId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Katsastus" class="control-label"></label>
                <input asp-for="Auto.Katsastus" type="date" class="form-control" />
                <span asp-validation-for="Auto.Katsastus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Adr" class="control-label"></label>
                <input asp-for="Auto.Adr" type="date" class="form-control" />
                <span asp-validation-for="Auto.Adr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Piirturi" class="control-label"></label>
                <input asp-for="Auto.Piirturi" type="date" class="form-control" />
                <span asp-validation-for="Auto.Piirturi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Alkolukko" class="control-label"></label>
                <input asp-for="Auto.Alkolukko" type="date" class="form-control" />
                <span asp-validation-for="Auto.Alkolukko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Nopeudenrajoitin" class="control-label"></label>
                <input asp-for="Auto.Nopeudenrajoitin" type="date" class="form-control" />
                <span asp-validation-for="Auto.Nopeudenrajoitin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.InfoTxt" class="control-label"></label>
                <textarea asp-for="Auto.InfoTxt" class="form-control"></textarea>
                <span asp-validation-for="Auto.InfoTxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kuvatiedostot" class="control-label">Lataa kuvat</label>
                <input asp-for="Kuvatiedostot" type="file" multiple class="form-control" />
                <span asp-validation-for="Kuvatiedostot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" id="openModal" class="btn btn-primary">Avaa Kamera</button>
            </div>
            <div class="form-group">
                <!-- Lista otetuille kuville-->
                <ul id="capturedImagesList"></ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna uusi auto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="cameraModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="canvasElement" style="display:none;"></canvas>
        <button type="button" id="capture">Capture</button>
        <button type="button" id="saveImage">Save</button>
    </div>
</div>

<div>
    <a asp-page="Index">Edelinen sivu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
