@page
@model HuoltoWebApp.Pages.AutonHuoltopyyntö.CreateModel

@{
    ViewData["Title"] = "Luo uusi huoltopyyntö";
}

<h1>Luo uusi auton huoltopyyntö</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutoHuoltopyyntö.AutoId" class="control-label">Rekisterinumero</label>
                <select asp-for="AutoHuoltopyyntö.AutoId" class="form-control" asp-items="ViewBag.AutoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuoltopyyntö.HuollonKuvaus" class="control-label"></label>
                <textarea asp-for="AutoHuoltopyyntö.HuollonKuvaus" class="form-control"></textarea>
                <span asp-validation-for="AutoHuoltopyyntö.HuollonKuvaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuoltopyyntö.Kuva" class="control-label"></label>
                <input asp-for="AutoHuoltopyyntö.Kuva" type="file" class="form-control" />
                <span asp-validation-for="AutoHuoltopyyntö.Kuva" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Edellinen sivu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
