/* Css tyylittelyt */

/* Muutetaan .btn-primary väriä */
.btn-primary {
    background-color: #2CA34F; /* vihreä väri la-sa */
}

    /* .btn-primaryn hover väri */
    .btn-primary:hover {
        background-color: #17754D; /* hover color, vaaleampi vihreä*/
    }

    /* .btn-primaryn active väri */
    .btn-primary:active {
        background-color: #12B670; /* active buttonin vaalein vihreä */
    }

.btn-secondary {
    background-color: #FFA500; /*testi oranssi la-sa*/
}



/* Uusi oletusfontti apille Google fontseista - ehdotus roboto - Inter toinen mahdollinen*/
body {
    font-family: 'Roboto', sans-serif; /* Roboto Google fonteista - selvitän vielä miten fontti integroidaan hmlt:ään, alla linkki joka hmtl tiedostoon laitetaan */
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Navibarin ja footerin liukuväri - värit otettu la-sa logosta*/
nav {
    background: linear-gradient(90deg, #EF4828 0%, #FEC317 50%, #EF4828 100%);
    height: 80px;
}

footer {
    background: linear-gradient(90deg, #EF4828 0%, #FEC317 50%, #EF4828 100%);
    height: 80px;
    text-align: center;
}

/*kesken, keskittää kuvan kyllä, mutta ei toimi responsiivisesti, pitää muokata kuvan div elementille koko */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* korkeuden määrittäminen viewportin kautta */
}

    .centered img {
        max-width: 90%; /* kuvan leveyden rajoitus ruudun leveyden mukaan - responsive */
        max-height: 90%; /* korkeuden rajoitus ruudun korkeuden mukaan -responsive */
    }


.btncontainer {
    margin-top: 20px; /* väliä nappeihin etusivulla*/
}

.btn {
    padding: 10px 20px; /* sisäväliä nappien ympärille */
    font-size: 16px; /* suurempi fonttikoko napeissa */
    margin-bottom: 10px; /* alaväliä napin alapuolelle */
}

