@page
@model HuoltoWebApp.Pages.Säiliöt.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Luo uusi säiliö</h1>
<h5>Olemassa olevat säiliöiden numerot:</h5>
<ul>
    @foreach (var nro in Model.OlemassaOlevatSäiliöNumerot)
    {
        <li>@nro</li>
    }
</ul>

<hr />
<div class="row">
    <div class="col-md-4">
        <!--Form on luotu käyttäen ASP.NET Coren tag-helppereitä 
        Formiin on lisätty enctype="multipart/form-data" jotta voidaan lähettää tiedostoja -->
        <form method="post" enctype="multipart/form-data" id="autoForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Säiliö.SäiliöNro" class="control-label"></label>
                <input asp-for="Säiliö.SäiliöNro" class="form-control" />
                <span asp-validation-for="Säiliö.SäiliöNro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Säiliö.Vakaus" class="control-label"></label>
                <input asp-for="Säiliö.Vakaus" class="form-control" />
                <span asp-validation-for="Säiliö.Vakaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Säiliö.Välitarkastus" class="control-label"></label>
                <input asp-for="Säiliö.Välitarkastus" class="form-control" />
                <span asp-validation-for="Säiliö.Välitarkastus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Säiliö.Määräaikaistarkastus" class="control-label"></label>
                <input asp-for="Säiliö.Määräaikaistarkastus" class="form-control" />
                <span asp-validation-for="Säiliö.Määräaikaistarkastus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Säiliö.InfoTxt" class="control-label"></label>
                <textarea asp-for="Säiliö.InfoTxt" class="form-control"></textarea>
                <span asp-validation-for="Säiliö.InfoTxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kuvatiedostot" class="control-label">Lataa kuvat</label>
                <input asp-for="Kuvatiedostot" type="file" multiple class="form-control" />
                <span asp-validation-for="Kuvatiedostot" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="button" id="openModal" class="btn btn-primary">Avaa Kamera</button>
            </div>
            <div class="form-group">
                <!-- Lista otetuille kuville-->
                <ul id="capturedImagesList"></ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna uusi säiliö" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="cameraModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="canvasElement" style="display:none;"></canvas>
        <button type="button" id="capture">Capture</button>
        <button type="button" id="saveImage">Save</button>
    </div>
</div>

<button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
