@page
@model HuoltoWebApp.Pages.PvHuoltopyynnot.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Luo uusi perävaunun huoltopyyntö</h1>

<h4>PvHuoltopyyntö</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rekisterinumero</label>
                <span class="form-control">@ViewData["PvRekNro"]</span>
                <input type="hidden" asp-for="PvHuoltopyyntö.PvId" value="@Model.PvHuoltopyyntö.PvId" />
            </div>
            <div class="form-group">
                <label asp-for="PvHuoltopyyntö.HuollonKuvaus" class="control-label"></label>
                <textarea asp-for="PvHuoltopyyntö.HuollonKuvaus" class="form-control"></textarea>
                <span asp-validation-for="PvHuoltopyyntö.HuollonKuvaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PvHuoltopyyntö.Kuva" class="control-label"></label>
                <input asp-for="PvHuoltopyyntö.Kuva" class="form-control" />
                <span asp-validation-for="PvHuoltopyyntö.Kuva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Edellinen sivu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
