@page
@model HuoltoWebApp.Pages.AutonHuollot.CreateModel

@{
    ViewData["Title"] = "Luo Uusi huolto";
}

<h1>Luo uusi huolto</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rekisterinumero</label>
                <span class="form-control">@ViewData["AutoRekNro"]</span>
                <input type="hidden" asp-for="AutoHuollot.AutoId" />
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuoltoPvm" class="control-label"></label>
                <input asp-for="AutoHuollot.HuoltoPvm" type="date" class="form-control" />
                <span asp-validation-for="AutoHuollot.HuoltoPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuoltopaikkaId" class="control-label">Huoltopaikka</label>
                <select asp-for="AutoHuollot.HuoltopaikkaId" class="form-control" asp-items="@ViewBag.Huoltopaikat"></select>
                <span asp-validation-for="AutoHuollot.HuoltopaikkaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuollonKuvaus" class="control-label"></label>
                <textarea asp-for="AutoHuollot.HuollonKuvaus" class="form-control"></textarea>
                <span asp-validation-for="AutoHuollot.HuollonKuvaus" class="text-danger"></span>
            </div>
            <!-- Kuvien lataus -->
            <div class="form-group">
                <label asp-for="Kuvatiedostot" class="control-label">Lataa kuvat</label>
                <input name="Kuvatiedostot" type="file" multiple class="form-control" />
                <span asp-validation-for="Kuvatiedostot" class="text-danger"></span>
            </div>
            <br />
            <!-- Kamerakuvaus -->
            <div class="form-group">
                <button type="button" id="openModal" class="btn btn-primary">Avaa Kamera</button>
            </div>

            <div class="form-group">
                <ul id="capturedImagesList"></ul>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Tallenna huolto" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>SäiliöHuollot</h4>
        <hr />
        <a asp-page="/SäiliönHuollot/Create" asp-route-autoId="@Model.Auto.AutoId" class="btn btn-primary">Ilmoita Säiliön huolto</a>

    </div>
</div>

<!-- Modal -->
<div id="cameraModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="canvasElement" style="display:none;"></canvas>
        <button type="button" id="capture">Capture</button>
        <button type="button" id="saveImage">Save</button>
    </div>
</div>

<button type="button" class="btn btn-secondary" onclick="history.back()">Takaisin</button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/camera.js"></script> <!-- Jos käytät erillistä JS-tiedostoa -->
}
