@page
@model HuoltoWebApp.Pages.AutonHuollot.CreateModel

@{
    ViewData["Title"] = "Luo Uusi huolto";
}

<h1>Luo uusi huolto</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rekisterinumero</label>
                <span class="form-control">@ViewData["AutoRekNro"]</span>
                <input type="hidden" asp-for="AutoHuollot.AutoId" />
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuoltoPvm" class="control-label"></label>
                <input asp-for="AutoHuollot.HuoltoPvm" type="date" class="form-control" />
                <span asp-validation-for="AutoHuollot.HuoltoPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuoltopaikkaId" class="control-label">Huoltopaikka</label>
                <select asp-for="AutoHuollot.HuoltopaikkaId" class="form-control" asp-items="@ViewBag.Huoltopaikat"></select>
                <span asp-validation-for="AutoHuollot.HuoltopaikkaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHuollot.HuollonKuvaus" class="control-label"></label>
                <textarea asp-for="AutoHuollot.HuollonKuvaus" class="form-control"></textarea>
                <span asp-validation-for="AutoHuollot.HuollonKuvaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="AutoHuollot.Kuva" class="control-label"></label>
                 <input asp-for="AutoHuollot.Kuva" type="file" class="form-control" />
                <span asp-validation-for="AutoHuollot.Kuva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna huolto" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>SäiliöHuollot</h4>
        <hr />
        <a asp-page="/SäiliönHuollot/Create" class="btn btn-primary">Ilmoita Säiliön huolto</a>
    </div>
</div>

<div>
    <a asp-page="Index">Edellinen sivu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
